style
  div.hide{visibility:hidden}

script
  $(document).ready(function(){
    $("#buzzer").click(function(event){
      $("#answerDiv").removeClass("hide");
      $("#buzzer").addClass("hide");
      });
    });


div
  div.row-fluid
    each item, i in questions
      ul
        form.well
          li(type="none")
            != 'Difficulty: '
            != item.difficulty
            != ' | '
            != 'Year: '
            != item.year
            != ' | '
            != 'Category: '
            != item.category
            != ' | '
            != 'Tournament: '
            != item.tournament
          hr
          li(type="none")
            != 'Question: '
            != item.question
      
      p= item.answer

      if(isTrue && !isFalse)
        p ITS TRUE WOOO
        a(href='/practice/' + (counter+1) + '?answerInput=').btn.btn-primary Continue to the Next

      if(!isTrue && isFalse)
        p 
          != 'ITS FALSE WOO THE CORRECT ANSWER IS ' 
          != item.answer

        a(href='/practice/' + (counter+1) + '?answerInput=').btn.btn-primary Continue to the Next Question?


div#answerDiv.hide
  form(name="answerForm", action="", method="get").center.well.search-form
    div
      input(type='text', name='answerInput', placeholder='Answer').input-xlarge.search-query
    button(type='submit').btn.btn-primary Answer

if(!isTrue && !isFalse)
  div.center
    button#buzzer.btn.btn-primary.btn-large Buzzer!