div
  form(name="searchForm", action="", method="get").center.well.search-form
    div
      input(type='text', name='searchInput', placeholder='Search').input-xlarge.search-query
    button(type='submit', onclick="showDiv()").btn.btn-primary Search

div(id="searchResultsDiv")
  div.row-fluid
     p
       if(questions.length == 0)
         != 'Use the search bar to search for Trivia Questions'
       else 
         != 'Displaying ' + 10 + ' of ' + questions.length
    each item, i in questions
        ul
          form.well
            li(type="none")
              != i + ' ' + 'Difficulty: ' + item.difficulty +  ' | '
              != 'Year: ' + item.year + ' | ' + 'Category: '
              != item.category + ' | ' + 'Tournament: ' + item.tournament
            hr
            li(type="none")
              != 'Question: ' + item.question
            hr
            li(type="none")
              != 'Answer: ' + item.answer
              
div
  if(counter)
    div.right
      a(href='/search/' + (counter+1) + '?searchInput=' + searchIndx).right.btn.btn-primary Next Page

  if(counter > 0)
    div.left
      a(href='/search/' + (counter-1) + '?searchInput=' + searchIndx).left.btn.btn-primary Previous Page