div
  form(name="searchForm", action="", method="get").center.well.search-form
    div
      input(type='text', name='searchInput', placeholder='Search').input-xlarge.search-query
    button(type='submit', onclick="showDiv()").btn.btn-primary Search

div(id="searchResultsDiv")
  div.row-fluid
     p
       if(questions.length == 0)
         != 'Use the search bar to search for Trivia Questions'
       else if(questions.length < 10)
         != 'Displaying ' + questions.length + ' of ' + questions.length
       else 
         != 'Displaying results ' + lesserIndx + ' through ' + greaterIndx
    each item, i in questions
        ul
          form.well
            li(type="none")
              != 'Difficulty: '
              a(href='/search/0?searchInput=' + item.difficulty)= item.difficulty  
              != ' | '
              != 'Year: '
              a(href='/search/0?searchInput=' + item.year)= item.year 
              != ' | ' 
              != 'Category: '
              a(href='/search/0?searchInput=' + item.category)= item.category 
              != ' | ' 
              != 'Tournament: '
              a(href='/search/0?searchInput=' + item.tournament)= item.tournament
            hr
            li(type="none")
              != 'Question: ' + item.question
            hr
            li(type="none")
              != 'Answer: ' + item.answer

if(questions.length > 8)
  div.right
    a(href='/search/' + (counter+1) + '?searchInput=' + searchIndx).btn.btn-primary Next Page

if(counter > 0)
  div.left
    a(href='/search/' + (counter-1) + '?searchInput=' + searchIndx).btn.btn-primary Previous Page

