h1 About


p
  | I really don't have the slightest clue what to say here.
  | But this was concieved some time towards the end of the school year of 2012.
  | It's something made with Twitter Bootstrap,
  | which I'm trying to disguise best I can by replacing that cliche black header bar
  | with something considerably lighter. Also, it uses jQuery (largely because Bootstrap
  | really likes jQuery, but I guess I really like jQuery too). Modernizr, but only for
  | one function which is sort of lame. Most of the code is actually written in CoffeeScript
  | which is pretty cool. It uses node.js, socket.io, express, jade and less (via 
  | less-middleware).


  