h1 Help

h3 If you need any help - you came to the wrong place. This may one day contain some
 | kind of helpfulness in the form of a manual or tutorial but untill then your best 
 | bet would be contacting me at one of my various contactable locations. 
 

h1 By email: epiccodez@gmail.com | By Tweet: @ben_vest | Via GitHub: @EpicCodez