div.center.hero-unit
  h1 Welcome to the BetaBowl
  h2 We Really Need a Name!
  h2
    a(href='/signup') You Should Sign up - (Because it Makes you More AWESUM!)

div.row
  div.span4
    h3 Search
    p Use the search bar to search the entire database of nearly 40,000 Quiz Bowl and It's Academic Questions then study up or make a game based off of your search results
    h3
      a(href='/search/0/Jefferson') Try a Search
  div.span4
    h3 Practice
    p By practicing here either alone or with your friends you will become better at playing in your school or at the next competition
    h3
      a(href='/multiplayer/practice-now') Practice Now
  div.span4
    h3 Compete
    p Competition brings out the best in everyone - allows you to learn faster and easier - oh and it's just like what will happen in a real game
    h3
      a(href='/multiplayer/compete-now') Start Competing