div.center.hero-unit
  h1 Welcome to It's Ac Attack
  p.btn.btn-primary Sign Up Now!

div.row
  div.span4
    h3 Search
    p BlahBlahBlahBlahBlahBlahBlah
    | BlahBlahBlahBlahBlahBlahBlah
  div.span4
    h3 Practice
    p BlahBlahBlahBlahBlahBlahBlah
    | BlahBlahBlahBlahBlahBlahBlah
  div.span4
    h3 Compete
    p BlahBlahBlahBlahBlahBlahBlah
    | BlahBlahBlahBlahBlahBlahBlah