div.center.hero-unit
  h1 Welcome to the ProtoBowl
  p.btn.btn-primary Sign Up Now!

div.row
  div.span4
    h3 Search
    p Search the entire database of nearly 40,000 Quiz Bowl and It's Academic Questions
  div.span4
    h3 Practice
    p Practice to become better in the real world
  div.span4
    h3 Compete
    p In a multiplayer game against your friends