footer.footer
  small
    a(href='http://inducinginsanity.blogspot.com') It's Ac Attack Blog by Ben Vest 
    nav
      ul
        li
          a(href='/about') About
        li
          a(href='/contact') Contact Me