footer.footer
  small
    a(href='http://inducinginsanity.blogspot.com') Blog
  nav
    ul
      li
        a(href='/about') About
      li
        a(href='/contact') Contact Me
      li
        a(href='/help') Help
