div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a(href='/home')#logo Its Ac Attack
      ul.nav.pull-right
        li
          a(href='/home') Home
        li
          a(href='/search') Search
        li
          a(href='/practice') Practice
        li.dropdown
          a(href='#', data-toggle="dropdown").dropdown-toggle User 
            b.carret
          ul.dropdown-menu
            li
              a(href='/login') Login
            li
              a(href='/logout') Logout 
            li
              a(href='/profile') Profile

     script 
       $('.dropdown-toggle').dropdown() 