div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a(href='/home')#logo Quiz Bowl Database
        ul.nav.pull-right
          li
            a(href='/home') Home
          li
            a(href='/search') Search
          li
            a(href='/contact') Contact
          li
            a(href='/help') Help
          li
            a(href='/login') Login