head
  title= title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="An App")
  meta(name="description", content="An App")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel='images', href='/images/glyphicons-halflings.png')
  script(src='/javascripts/jquery-1.7.2.min.js')  
  script(src='/javascripts/bootstrap.min.js') 
  script(src='/javascripts/bootstrap-dropdown.js')
  script(src='/javascripts/bootstrap-collapse.js')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')