div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a(href='#')#logo Quiz Bowl Database
        ul.nav.pull-right
          li
            a(href='/') Home
          li
            a(href='/search') Search
          li
            a(href='/contact') Contact