head
  title= title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="node.js, express, mongoose, mongodb, stylus demo")
  meta(name="description", content="A demo app illustrating the usage of express framework, mongoose orm, mongodb and stylus in node.js")
  script(src='/javascripts/jquery-1.7.2.min.js')	
  script(src='/javascripts/bootstrap.min.js')	
  script(src='/javascripts/bootstrap-dropdown.js')
  link(rel='images', href='/images/glyphicons-halflings.png')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  
