script
  $(function() {
    // Setup drop down menu
    $('.dropdown-toggle').dropdown();
   
    // Fix input element click problem
    $('.dropdown input, .dropdown label').click(function(e) {
      e.stopPropagation();
    });
  });

div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      button(type='button', data-toggle="collapse", data-target=".nav-collapse").btn.btn-navbar
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='/home')#logo Proto Bowl
      div.nav-collapse.collapse
        ul.nav
          li
            a(href='/multiplayer') Multiplayer
          form(name="searchForm", action="/search/0", method="get").navbar-search
            input(type='text', name='searchInput', placeholder='Search').search-query.span2
        ul.nav.pull-right
          li.dropdown
            a(href='#', data-toggle="dropdown").dropdown-toggle 
              != userName
                b.caret
            ul.dropdown-menu
              li
                a(href='/login') Profile
              li
                a(href='/logout') Settings
              li.divider
              li
                a(href='/profile') Sign out

!= messages()
