div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      button(type='button', data-toggle="collapse", data-target=".nav-collapse").btn.btn-navbar
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='/home')#logo Proto Bowl
      div.nav-collapse.collapse
        ul.nav.nav-pull-right
          li
            a(href='/home') Home
          li
            a(href='/search/0') Search
          li
            a(href='/multiplayer') Multiplayer
          li.dropdown
            a(href='#', data-toggle="dropdown").dropdown-toggle 
              != userName
                b.caret
            ul.dropdown-menu
              li
                a(href='/login') Profile
              li
                a(href='/logout') Settings
              li.divider
              li
                a(href='/profile') Sign out

    
!= messages()
