if(message)
{{message}}

form(action="/login", method="post")
    div
    label Username:
    input(type="text", name="username")
    div
    label Password:
    input(type="password", name="password"
    div
    button

p Hint - bob:secret

