h1 Sign Up

div.row
    div.span6.offset3
    form(accept-charset="UTF-8", action="/signup", class="new_user",
        id="new_user", method="post")
        label(for="user_name") Name
        input(type="text")

