div#searchResultsDiv
  div.row-fluid#contentContainer
     p
       if(question.length == 0)
         != 'No Results Found Please Try A Different Query'
         form(name="searchForm", action="/search/0", method="get").search-form
            input(type='text', name='searchInput', placeholder='Search').search-query.span2
       else if(question.length < 10)
         != 'Displaying ' + question.length + ' of ' + question.length
       else 
         != 'Displaying results ' + lesserIndx + ' through ' + greaterIndx
    each item, i in question
        ul
          form.well
            li(type="none")
              != 'Difficulty: '
              a(href='/search/0?searchInput=' + item.difficulty)= item.difficulty  
              != ' | '
              != 'Year: '
              a(href='/search/0?searchInput=' + item.year)= item.year 
              != ' | ' 
              != 'Category: '
              a(href='/search/0?searchInput=' + item.category)= item.category 
              != ' | ' 
              != 'Tournament: '
              a(href='/search/0?searchInput=' + item.tournament)= item.tournament
            hr
            li(type="none")
              != 'Question: ' + item.question
            hr
            li(type="none")
              != 'Answer: ' + item.answer

if(question.length > 8)
  div.right
    a(href='/search/' + (counter+1) + '?searchInput=' + searchIndx).btn.btn-primary Next Page

if(counter > 0)
  div.left
    a(href='/search/' + (counter-1) + '?searchInput=' + searchIndx).btn.btn-primary Previous Page

