h1 Select a Room

p Join an already occupied room with your friends or create your own

hr

#roomTable
  table.table
    thead
      tr
        th Channel Name
        th Number of Users
        th Game Mode
        th Difficulty
    tbody
      each room, i in rooms
        - console.log(Object.keys(room.users).length)
        tr
          td 
            a(href='/multiplayer/' + room.name)= room.name
          td= Object.keys(room.users).length 
          td Not yet made
          td Not yet made
hr

form(actions='', method='get')#makeroom
  #roomName
    p Create your Own Room
    label Name of Room
    input(type='text', name='roomName')
  div.btn.btn-primary Make Private

script(src='../../javascripts/multiplayer/lobby.js')