script(src="/socket.io/socket.io.js")
script
  var socket = io.connect();
  socket.on('question', function(data){
     var q = data[0];
     var words = q.question.split(" ");
     var pointer = 0;
     $("#year").text(q.year)
     $("#difficulty").text(q.difficulty)
     $("#category").text(q.category)
     $("#tournament").text(q.tournament)
     $("#answer").text(q.answer)
     function nextWord(){
       $("#question").text(words.slice(0, ++pointer).join(" "))
       setTimeout(nextWord, 1000)
     };
     nextWord();
  });

  $(document).ready(function(){
    $('#answerForm').submit(function(event){
      event.preventDefault();
      socket.emit('answer', $('#answerInput').val());
    });
  });


!= channel

if(loggedIn)
  div(id="answerDiv", style="display:all;")
    div.row-fluid
        ul
          form.well
            li(type="none")
              != 'Difficulty: '
              span#difficulty
              != ' | '
              != 'Year: '
              span#year
              != ' | '
              != 'Category: '
              span#category
              != ' | '
              != 'Tournament: '
              span#tournament
            hr    
            span#question
            hr
            span#answer

  div
    form(name="answerForm", action="", method="get")#answerForm.center.well.search-form
      div
        input(type='text', autocomplete="off", name='answerInput', placeholder='Answer')#answerInput.input-xlarge.search-query
      button(type='submit')#answerButton.btn.btn-primary Answer

  li
    != 'Hello ' 
    != loggedInUsers

if(!loggedIn)
  p Log in you idiot