h1 Select a Room

#roomSelect
  ul
    li(type='none')
      a(href='/multiplayer/channel1') Test Channel 1
    li(type='none')
      a(href='/multiplayer/channel2') Test Channel 2

#availableRoomList
  ul
    li Join a currently active room
    each room in rooms
      li 
        a(href='/multiplayer/' + room.name)= room.name

form(actions='', method='get')#makeroom
  #roomName
    label Name of Room
    input(type='text', name='roomName')