if(loggedIn)
  p.right
    != 'You are logged in as: '
    != userName

  div.row-fluid
    ul
      form#information.well.hide
        li(type="none")
          != 'Difficulty: '
          span#difficulty
          != ' | '
          != 'Year: '
          span#year
          != ' | '
          != 'Category: '
          span#category
          != ' | '
          != 'Tournament: '
          span#tournament
          hr    
          span#question
      span#answer

  div#answerDiv.hide
    form(name="answerForm", action="", method="get")#answerForm.center.well.search-form
      div
        input(type='text', autocomplete="off", name='answerInput', placeholder='Answer')#answerInput.input-xlarge.search-query
      button(type='submit')#answerButton.btn.btn-primary Answer
  
  input(type='hidden', value=counter)#questionNumber
  input(type='hidden', value=userName)#userName

  div#buttons.center
    button#start.btn.btn-primary.btn-large Start the Question!
    button#buzzer.hide.btn.btn-primary.btn-large Buzzer!
    button#skip.hide.btn.btn-primary.btn-large Skip this Question
    button#next.hide.btn.btn-primary Next Question

  hr

  #chat
    p.hide#nickname-err This is already in use
    #connecting
      .wrap Connecting to socket.io server
    form#messages
      #nicknames
      #lines
    form#send-message
      input(placeholder='Write a message...')#message

if(!loggedIn)
  p.center
    != 'You are not logged in, to use multiplayer please '
    a(href='/login') login
    != ' or if you do not have an account '
    a(href='/signup') signup

script(src="/socket.io/socket.io.js")
script(src='../../javascripts/multiplayer.js')