/* universal */

html{
    overflow-y: auto;
}
.timer {
  font-size: 250%;
  text-align: center;
  margin-bottom: 10px;
}
.timer .fraction {
  font-size: 50%;
}
.timer .buzz {
  color: #DA2F22;
}
.thumbnail {
  margin: 0;
  margin-bottom: 18px;
  overflow: auto;
}
.thumbnail .table {
  margin-bottom: 5px;
}
.thumbnail .table.headless tbody tr:first-child td {
  border-top: none;
}
.thumbnail .progress {
  margin-bottom: 9px;
}
.thumbnail h5 i,
.expando i,
.actionbar i {
  margin-right: 5px;
  margin-top: 1px;
}
.expando i {
  margin-left: 5px;
}
.actionbar .expando .add-on {
  padding-right: 10px;
}
.breadcrumb {
  overflow: auto;
}
.show-touch {
  display: none;
}
form.expando {
  margin: 0;
}
.bundle .annotations .author {
  font-weight: bold;
}
.bundle .annotations .typing {
  opacity: 0.7;
}
.bundle .annotations .log {
  font-style: italic;
}
.bundle .bookmark {
  margin-left: 5px;
  text-decoration: none;
  font-size: 125%;
}
.bundle .answer {
  font-weight: bold;
}
.bundle .start-page {
  text-align: center;
}
.bundle .inline-icon {
  text-shadow: none;
}
.bundle .inline-icon .label {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
}
.bundle .asterisk {
  width: 0px;
  color: transparent;
  display: inline-block;
  text-shadow: none;
}
#review .review-response,
#review .review-judgement,
#review .review-answer {
  font-style: italic;
}
.bundle.active .answer {
  visibility: hidden;
}
.bundle.active .unread {
  visibility: hidden;
}
.bundle .breadcrumb {
  cursor: default;
}
.bundle:not(.active) .breadcrumb {
  cursor: pointer;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.btn.disabled,
.btn[disabled],
.timer.disabled {
  opacity: 0.35;
}
.progress .bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

body {
    padding-top: 70px;
    padding-bottom: 40px;
    font-family: sans-serif;
}

.navbar .divider-vertical {margin: 0}
.navbar .nav > li > a {padding: 10px 23px 11px 20px;}

/* typeography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #999;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: black;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
}

#logo:hover {
    color: green;
    text-decoration: none;
}

/* Footer */

footer{
    width: 1170px;
    margin-top: 45px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #eaeaea;
    color: #999;
}

footer a{
    color: #555;
}

footer a:hover{
    color: #222;
}

footer small{
    float: left;
}

footer ul{
    float: right;
    list-style: none;
}

footer ul li{
    float:right;
    margin-left: 10px;
}

.hide{
    visibility:hidden
}

