div.center
  ul
    li 
      a(href='/auth/facebook').btn.btn-large.btn-primary Login Using Facebook
    li
      a(href='/auth/twitter').btn.btn-large.btn-primary Login Using Twitter
    li
      a(href='/auth/google').btn.btn-large.btn-primary Login Using Google

