form.form-horizontal
  div.control-group
    label(for='input1').control-label Text Input
    div.controls
      input(type='text', id='input1').input-xlarge
      p.help-block BlahBlahBlah

form.center.form-inline
      a(href='/auth/facebook')
        img(src='/images/facebook.png') 

      a(href='/auth/twitter')
        img(src='/images/twitter.png') 

      a(href='/auth/google')
        img(src='/images/google.png')
