p You are required to have an account in order to use the multiplayer function of Its Ac Attack
 |  please 
 a(href='/login') login
 |  or if you do not yet have an account
 a(href='/signup') signup 
 |  for a free one!

p Having an account will give you access to multiplayer and allow you to gain full functionality of
  |  the application