div(id='title').row
  div.span12
    div.row.login-form
      div.span12.form-inline
        input(id='nickname', type='text', placeholder='Your Username Here...')
        button.btn.login Login

    div(style='display:none;').row.logout-form
      div.span12.form-inline
        label Welcome
          strong
            span.nickname-display

div(id='chat', style='display:none').row
  div.span12
    div.row
      div(id='log').span10
      div.span2
        ul(id='clients')


    div.row
      div.span12
        input(id='message', placeholder='Type a message here...').span12
