!!!
html(ng-app="myApp")
  != partial('../includes/head')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    script(src='http://code.angularjs.org/1.0.1/angular-1.0.1.min.js')
  body
    #container
      != partial('../includes/header')
      != body
    != partial('../includes/footer')
