!!!
html
  if loggedIn
    title= title
  != partial('../includes/head')
  body
    .container
      if loggedIn
        != partial('../includes/loggedInHeader')
      else
        != partial('../includes/header')
      != body
    != partial('../includes/footer')
