!!!
html
  if loggedIn
    title= title
  != partial('../includes/head')
  body
    .wrapper
      .container
        if loggedIn
          != partial('../includes/loggedInHeader')
        else
          != partial('../includes/header')
        != body
        #push
    .footer
      != partial('../includes/footer')
