!!!
html
  != partial('../includes/head')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
  body
    #container
      != partial('../includes/header')
      != body
    != partial('../includes/foot')
